.favorites-container {
  width: 100%;
  padding-top: 4rem;

  text-align: justify;
}

.favorites-container > ul {
  margin: 2rem 4rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


@media only screen and (max-width: 420px) {
  .favorites-container {
    padding-top: 1rem;
  }
}