.select__content {
  width: 60%;
  margin: 0 auto;
}

.select__input {
  width: 100%;
  font-family: var(--font);
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}

.chart__content {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--bgChart);
}

.table__content {
  margin-top: 50px;
}
