.select__content {
  width: 40%;
  margin: 0 auto;
}

.select__input {
  width: 100%;
  font-family: var(--font);
  font-size: 1rem;
  padding: 5px;
  outline: none;
  border-radius: 15px;
}

.chart__content {
  width: 80%;
  margin: 20px auto;
  background-color: var(--bgChart);
}

.table__content {
  margin-top: 30px;
}

.btn__group {
  text-align: center;
  margin-top: 10px;
}

.btn__group button {
  padding: 5px 10px;
  background-color: var(--bgChart);
  color: var(--text-color-primary);
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.btn__group button:hover {
  background-color: var(--text-color-primary);
  color: var(--black);
}

.btn__fav {
  padding: 5px 15px;
  background-color: var(--favorite);
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.btn__fav:hover {
  background-color: var(--favorite-hover);
}

.btn__icon {
  font-size: 1.5em;
  margin-left: 5px;
}
