.buttonWrapper {
  display: inline-block;
}

button {
  float: right;
  text-align: center;
  border: none;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.favoriteButton {
  background: #72c288;
  color: #fff;
}

.favoritedButton {
  background-color: #c5e019;
  color: #000;
}

.favoriteButton:hover {
  background-color: #c5e019;
}
