.buttonWrapper {
  display: inline-block;
}

.favoriteButton {
  background: var(--title);
  color: var(--text-highlight);
}

.favoritedButton {
  background-color: var(--green-lighter-background);
  color: var(--black);
}

.favoriteButton:hover {
  background-color: var(--green-lighter-background);
  color: var(--black)
}
