.filterWrapper {
  padding: 0.5rem 5rem;
  text-align: center;
  color: var(--black);
}

.filterOptions label {
  padding: 0.2rem;
  width: 10rem;
  cursor: pointer;
}

.filterOptions ul {
  display: none;
  padding: 0.5rem 0;
  max-width: 10rem;
  box-shadow: 0px 0.8rem 1.5rem 0px rgba(0, 0, 0, 0.2);
}

.filterOptions ul:hover {
  margin: auto;
  display: grid;
  position: relative;
}

.filterWrapper label:hover + ul {
  margin: auto;
  display: grid;
  justify-content: center;
  position: relative;
}

.filterOptions li {
  list-style-type: none;
  margin: 0.2rem 0;
}

.filterOptions li button {
  background: none;
  width: 100%;
}

.filterWrapper li button:hover {
  background-color: var(--gray-light);
}
