.filterWrapper {
  padding: 0.5rem 5rem;
}

.filterOptions label {
  border: 0.1rem solid;
  max-width: 15rem;
  cursor: pointer;
  background: #9ca6a6;
}

.filterOptions ul {
  visibility: hidden;
  position: absolute;
  padding: 0.5rem 0;
  max-width: 10rem;
}

.filterOptions ul:hover {
  visibility: visible;
  position: relative;
}

.filterWrapper label:hover + ul {
  visibility: visible;
  position: relative;
}

.filterOptions li {
  list-style-type: none;
  padding: 0.1rem 0;
  text-decoration: underline;
}

.filterOptions li a {
  color: #000;
}
