.filterWrapper {
  padding: 0.5rem 5rem;
}

.filterOptions {
  text-align: center;
}

.filterOptions label {
  padding: 0.2rem;
  width: 10rem;
  cursor: pointer;
  background: #6d7373;
  color: #fff;
}

.filterOptions ul {
  display: none;
  padding: 0.5rem 0;
  max-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.filterOptions ul:hover {
  margin: auto;
  display: block;
  position: relative;

}

.filterWrapper label:hover + ul {
  margin: auto;
  display: block;
  position: relative;
}

.filterOptions li {
  list-style-type: none;
  margin: .2rem 0;
}

.filterOptions li a {
  color: #000;
  padding: 0 1.5rem;
}

.filterWrapper li:hover {
  background-color: #c3d6d6;
}
