.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: var(--grey-dark);
}

.navLogo b {
  font-size: 1.5rem;
  color: var(--green-logo);
}

.navOptions li {
  font-size: 1rem;
  display: inline-block;
}

.navOptions a {
  color: var(--white);
  padding: 1rem;
}
