
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--text);
  color: var(--white);
  margin-right: 12%;
  padding: 0 8rem 1.5rem 0;
  border-bottom-right-radius: 65px;
  box-shadow: 0 1px 5px var(--dark-green);
}

.header > div {
  padding-left: 50px;
}

.header > div:first-child {
  font-size: 1.8rem;
  font-weight: 600;
}

.header > div:last-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div:last-child > div > button.buttonDisabled {
  filter: brightness(1.5);
}

.header > div:last-child > div > button {
  margin-left: 2rem;
}