
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--yellow);
  margin-right: 16rem;
  padding: 0 8rem 1.5rem 0;
  border-bottom-right-radius: 65px;
}

.header > div {
  padding-left: 50px;
}

.header > div:first-child {
  font-size: 1.8rem;
  font-weight: 600;
}

.header > div:last-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div:last-child > div > button.buttonDisabled {
  filter: brightness(1.5);
}

.header > div:last-child > div > button:last-child {
  margin-left: 2rem;
}