.stockWrapper {
  max-width: 20rem;
  background: #f2f7f7;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.stockHeader {
  display: flex;
  justify-content: space-between;
}

.stockHeader h1 {
  color: #015c5b;
  display: inline;
}

.stockHeader h3 {
  max-width: 10rem;
  opacity: .5;
  padding: 0 1rem;
  font-size: 1rem;
}

.stockHeader a {
  align-items: center;
  float: right;
}

.stockFooter li {
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}

.stockFooter li.positiveVariation span {
  color: #1f7025;
}

.stockFooter li.negativeVariation span{
  color: #d4002a;
}
