.stockWrapper {
  max-width: 20rem;
  background: #f2f7f7;
  padding: 0.5rem;
  border-radius: 1rem;
}

.stockHeader {
  display: flex;
justify-content: space-between;
}

.stockHeader h1 {
  font-weight: normal;
  color: #0e8281;
  display: inline;
}

.stockHeader a {
  align-items: center;
  float: right;
}

.stockFooter li {
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}
