.stockWrapper {
  max-width: 20rem;
  background: var(--gray-light);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.stockHeader {
  display: flex;
  justify-content: space-between;
}

.stockHeader h1 {
  color: var(--title);
  display: inline;
}

.stockHeader h3 {
  max-width: 10rem;
  color: var(--background);
  padding: 0 1rem;
  font-size: 1rem;
}

.stockHeader a {
  align-items: center;
  float: right;
}

.stockFooter li {
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
}

.stockFooter li.positiveVariation span {
  color: var(--green);
}

.stockFooter li.negativeVariation span {
  color: var(--red);
}
