.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 8px;
  width: 500px;
}


.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.data > div {
  display: flex;
}

.data > div > p:last-child {
  margin-left: 1rem;
}

.container > div:last-child {
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #e4e4eb;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container > div > div p {
  margin-top: 0.5rem;
}

.container > button {
  background: var(--gray-line);
  color: var(--dark-blue);
}

.container > button > svg {
  color: var(--red);
}
