.stockListWrapper {
  padding: 0.5rem 5rem;
  text-align: center;
}

.stockGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stockListed {
  padding: 1rem;
  margin: auto;
}

@media (max-width: 1220px) {
  .stockGroup {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 880px) {
  .stockGroup {
    grid-template-columns: 1fr;
  }
}
