.list-container {
  width: 100%;
  padding-top: 4rem;

  /* text-align: justify; */
}

.list-container > ul {
  margin: 2rem 4rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
