.stock-container {
  min-width: 20rem;
  max-width: 25rem;
  padding: 1rem 2rem;

  flex: 1;
  flex-direction: column;

  background: var(--background3);
  border-radius: 5px;
}

.stock-container.white-theme {
  background: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--background3);
}

.stock-container > header {
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-container > header h1 {
  font-size: 1.5rem;
}

.stock-container > header h1 p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--foreground2);
}

.stock-container > header svg {
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
}

.stock-container.white-theme > header svg {
  color: var(--yellow);
}

.stock-container > footer {
  padding-top: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-container > footer h3 {
  font-size: 1.5rem;
}

.stock-container > footer span {
  padding: 0.25rem 0.5rem;

  border-radius: 5px;
  color: var(--white);
  font-family: "Inconsolata", monospace;
  line-height: 1.5rem;
}

.stock-container > footer .increase {
  background-color: var(--green);
}

.stock-container > footer .decrease {
  background-color: var(--red);
}
