body {
  background-color: var(--black);
}

.list__logo {
  margin-bottom: 30px !important;
}

.list__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
