.container {
  display: flex;
  flex-direction: column;
}

.container.themeLight {
  background: var(--background);
}

.container.themeDark {
  background: var(--dark-background);
}

.container.themeLight button {
  background: var(--dark-blue);
}

.container.themeDark button {
  background: var(--dark-green);
}

.orderButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 240px 0px 100px;
}

.orderButtons > button {
  width: 250px;
}


.stockList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 210px 20px 100px;
}

.stockList > div {
  margin-top: 40px;
}