* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #6d7373;
  --title: #015c5b;
  --green: #1f7025;
  --green-logo: #33a351;
  --green-lighter: #72c288;
  --green-lighter-background: #c5e019;
  --red: #d4002a;
  --grey-dark: #373737;
  --black: #000;
  --gray-light: #c8cfcf;
  --text-highlight: #c3d6d6;
}

body {
  font: 62.5%, 'Helvetica Neue', Arial, sans-serif;
  background: var(--background);
}

a {
  text-decoration: none;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}
