* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 62.5%, 'Helvetica Neue', Arial, sans-serif;
  background: #b9bdbd;
  /* #ebeded   */
}

a {
  text-decoration: none;
}

.app-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
