@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg2-color);
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
  height: auto;
}
.Card {
  /* Add shadows to creat the "card" effect */
  box-shadow: 0 4px 8px 0 var(--details-color);
  transition: 0.3s;
  width: 200px;
  height: 380px;
  margin: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 3xp solid;
  border-radius: 10px;
  overflow: hidden;
  width: 20%;
  height: 300px;
  text-align: center;
}

.CardSubtext{
  font-size: 20px; 
  color: var(--text2-color);
}

:root {
  --bg-color: rgb(20,20,20);
  --bg2-color: rgb(120,220,181);
  --details-color: rgb(97,152,63);
  --details-color2: rgb(130,230,187);
  --sub-menus: rgb(125,210,138);
  --text-color: rgb(0,120,130);
  --text2-color: rgb(101,160,66);
}



/* Responsive media */
@media screen and (max-width:1200px){
  .Card {
      width: 40%;
  }
}

@media screen and (max-width:600px){
  .Card {
      width: 40%;
  }
}


@media (max-width:750px){
  main {
      background-image: none;
  }

  .section-body {
      background: rgba(17, 13, 29);
      margin: 5% auto;
      padding: 1% 3% 3% 3%;
  }
  
  .carousel-inner {
      border-bottom: white 0px solid;
  }

  .video-frame {
      border: 2px solid white;
      width: 100%;
      height: 300px;
  }
}

@media (max-width: 500px){
  .video-frame {
      height: 200px;
  }
}

@media (min-width: 1500px){
  .video-frame {
      height: 600px;
  }
}