nav {
  width: 100%;
  box-shadow: 10px 10px 10px rgba(27, 27, 27, 0.253);
  border: 1px solid rgb(209, 204, 204);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
}
li {
  list-style: none;
  margin-right: 1rem;
}
a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(128, 3, 45);
}

h1 {
  cursor: pointer;
}
