.graph-container {
  height: 5rem;

  position: relative;

  border-top: 2px solid var(--background3);
  border-bottom: 2px solid var(--background3);
}

.graph-container > .limit {
  width: 100%;
  height: 10px;

  position: absolute;

  fill: var(--foreground2);
  opacity: 0.4;
}

.graph-container > .limit.min {
  bottom: 0;

  transform: translateY(12px);
}

.graph-container > .limit.max {
  top: 0;

  transform: translateY(-14px);
}

.graph-container > .grid {
  width: 100%;
  height: 100%;

  position: absolute;
  pointer-events: none;
}

.graph-container > .grid line {
  stroke: var(--foreground1);
  opacity: 0.1;
  stroke-width: 1px;
}

.graph-container > .grid text {
  stroke: none;
  fill: var(--foreground2);
  opacity: 0.4;
}

.graph-container > .graph {
  height: 100%;
  
  overflow: visible;

  stroke: var(--blue);
  stroke-width: 2px;
}

.graph-container > .graph line {
  pointer-events: none;
}

.graph-container > .graph:hover .increase {
  stroke: var(--green);
}

.graph-container > .graph:hover .decrease {
  stroke: var(--red);
}

.graph-container > .popup {
  width: max-content;
  padding: 0.25rem 0.5rem;
  
  position: absolute;
  pointer-events: none;
  
  color: var(--white);
  font-family: "Inconsolata", monospace;
  border-radius: 5px;
  transform: translate(-50%, calc(-100% - 10px));
}

.graph-container > .popup svg {
  left: 50%;
  top: 100%;
  
  position: absolute;

  transform: translateX(-50%);
}

.graph-container > .hidden {
  display: none;
}

.graph-container > .increase {
  background: var(--green);
}

.graph-container > .decrease {
  background: var(--red);
}

.graph-container > .increase svg {
  fill: var(--green);
}

.graph-container > .decrease svg {
  fill: var(--red);
}