
<!DOCTYPE html>


<html>


  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width-device-width, initial-scale=1.0">

  </head>


  <header>
    
    <div class="logo">

      <fa-icon [icon]="faCode"></fa-icon>

    </div>


    <ul class="menu">

      <li> <a href=""> Home </a> </li>

      <li> <a href=""> Favoritos </a> </li>

    </ul>

  </header>


  <h1> Developers Info </h1>

  <section class="container">

    
    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart"> </div>

    </div>

    
    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart1"> </div>

    </div>


    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart2"> </div>

    </div>


    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart3"> </div>

    </div>


    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart4"> </div>

    </div>


    <div>

      <a href="#"> <fa-icon [icon]="faStar" class="icon"></fa-icon> </a>
      
      <div class="pie" [chart]="chart5"> </div>

    </div>


  </section>


</html>


<router-outlet></router-outlet>