html {
  --color-background-dark: #14181A;
  --color-background-grey: #3D474C;
  --color-text-grey: #C7C9C9;
  --color-text-grey-lighter: #E5E5E5;
  --color-text-negative: #EA2027;
  --color-text-positive: #009432; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #293033;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
