.stock-displayer-container {
  width: 100%;
  padding-top: 4rem;
}

.stock-displayer-container > ul {
  margin: 2rem 4rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.stock-displayer-container > p {
  width: 100%;
  margin-top: 4rem;

  text-align: center;
  color: var(--foreground2);
  opacity: 0.5;
}

@media only screen and (max-width: 420px) {
  .stock-displayer-container {
    padding-top: 1rem;
  }
}